serial==3.5
qdarkstyle==3.1
numpy==1.23.1
PySide2==5.15.2.1
gphoto2==2.3.4
torch==1.12.0+cu102
imageio==2.21.0
pyexiv2==0.11.0
psutil==5.5.1
qimage2ndarray==1.9.0
rawpy==0.17.1
skimage==0.19.3
cv2==4.6.0
Pillow==9.2.0
matplotlib==3.5.2
scikit-learn==1.1.1
paramiko==2.6.0
tqdm==4.64.0
yaml==5.3.1
